* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* Navigation bar */

nav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 12px;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.google-navigation-icon {
    opacity: 0.5;
}

.profile-picture {
    border-radius: 50px;
    margin-right: 10px;
}

/* Main section; Google logo, input, buttons & paragraph */

main {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main input {
    margin-top: 25px;
    width: 45%;
    height: 40px;
    text-indent: 35px;
    border-radius: 30px;
    border: solid 1px #dfe1e5;
    outline: none;
    background-image: url(google-search-icon.png), url(google-microphone-icon.png);
    background-repeat: no-repeat;
    background-position: 2% center, 98% center;
    
}

main div button {
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    padding: 13px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
}

main p {
    margin-top: 40px;
    font-size: 15px;
}

main p a {
    text-decoration: none;
}

main p a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    height: 10%;
    width: 100%;
    max-width: 100%;
    background-color: #f2f2f2;
    border-top: solid 1px #dadce0;
    display: flex;
    justify-content: space-between;
}

.footer-ul-1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-ul-2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer ul li {
    margin-right: 15px;
    margin-left: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #74787d
}

/* Added media queries so the footer's content wouldn't overflow */

@media(max-width: 670px) {

main {
    height: 75%;
}

footer {
        display: block;
        height: 15%;
    }

.footer-ul-1 {
        display: flex;
        justify-content: center;
}

.footer-ul-2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
}

footer ul li {
    margin-top: 15px;
}
}